<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance Sheet</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h2>Balance Sheet</h2>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Original Amount</th>
                    <th>Depreciation</th>
                    <th>Net Amount</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th colspan="5" class="text-center">Assets</th>
                </tr>
                {% for asset in assets %}
                <tr>
                    <td>{{ asset.description }}</td>
                    <td>LSL{{ asset.price }}</td>
                    <td>LSL{{ asset.price * (asset.depreciation / 100.0) }}</td>
                    <td>LSL{{ asset.price - (asset.price * (asset.depreciation / 100.0)) }}</td>
                    <td>{{ asset.timestamp.strftime('%Y-%m-%d') }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th colspan="2">Total Original Assets</th>
                    <td colspan="3">LSL{{ total_assets_value }}</td>
                </tr>
                <tr>
                    <th colspan="2">Total Depreciation</th>
                    <td colspan="3">LSL{{ total_depreciation }}</td>
                </tr>
                <tr>
                    <th colspan="2">Total Net Assets</th>
                    <td colspan="3">LSL{{ net_assets_value }}</td>
                </tr>
                <tr>
                    <th colspan="5" class="text-center">Liabilities</th>
                </tr>
                {% for liability in liabilities %}
                <tr>
                    <td>{{ liability.description }}</td>
                    <td colspan="3">LSL{{ liability.price }}</td>
                    <td>{{ liability.timestamp.strftime('%Y-%m-%d') }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th colspan="2">Total Liabilities</th>
                    <td colspan="3">LSL{{ total_liabilities }}</td>
                </tr>
                <tr>
                    <th colspan="2">Net Worth</th>
                    <td colspan="3">LSL{{ net_worth }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
